<div id="sidebar" class="mostrar-sidebar sombra-sidebar">
    <div (click)="ocultarSidebar()" class="btn-sidebar sombra-sidebar">
        <i class="fas fa-caret-left"></i>
    </div>
    <nav class="nav">
        <div>
            <a [routerLink]="'/'" class="nav-link">
                <i class="fas fa-leaf nav-icon"></i><br>Cultivos
            </a>
        </div>
        <div class="nav-right">
            <a href="#" class="nav-link">
                <i class="fas fa-question nav-icon"></i><br>Ayuda
            </a>
            <a [routerLink]="'/profile'" class="nav-link">
                <i class="fas fa-user nav-icon"></i><br>Perfil
            </a>
        </div>
    </nav>
    <div class="sidebar-container">
        <mat-card class="card-container">
            <mat-list>
                <mat-list-item>
                    <i mat-list-icon class="fab fa-envira"></i>
                    <h4 mat-line>Cultivo 1</h4>
                    <p mat-line>Fecha</p>
                </mat-list-item>
            </mat-list>
        </mat-card>
        <mat-card class="card-container">
            <mat-list>
                <mat-list-item>
                    <i mat-list-icon class="fab fa-envira card-icon"></i>
                    <h4 mat-line>Cultivo 2</h4>
                    <p mat-line>Fecha</p>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>

</div>
<div class="map-container">
    <div id="map"></div>
</div>